---
export interface Props {
  post: BlogEntry
}
import type { BlogEntry } from '../types'
import Badge from './Badge.astro'

const { post } = Astro.props
---

<div class="flex items-center space-x-3 mb-4">
  {
    post.data.properties.标签.multi_select.map((tag) => (
      <Badge class="text-gray-400 border-gray-800"> {tag.name} </Badge>
    ))
  }
</div>
