---
import { cn } from '@/lib/utils'
interface Props {
  type: 'landscape' | 'square'
}

const { type } = Astro.props
---

<!-- the aspect ratio hack doesn't work well with grid gap -->
<div
  class={cn(
    'grid-item box-border col-span-1 row-span-1 aspect-square',
    type === 'landscape' && 'md:col-span-2 md:aspect-landscape'
  )}
>
  <!-- the height must be in this layer, otherwise the gap is not working -->
  <div class="p-2 w-full h-full">
    <div class="rounded-2xl h-full w-full overflow-hidden">
      <slot />
    </div>
  </div>
</div>
