---
import '@/styles/globals.css'
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="zh" class="dark antialiased transition ease-in-out duration-300">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="suwako.dev" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="alternate"
      type="application/rss+xml"
      title={title}
      href={new URL('rss.xml', Astro.site)}
    />
    <ViewTransitions />
  </head>
  <body class="bg-black min-h-dvh w-dvw flex flex-col items-center">
    <slot />
  </body>
</html>
