@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-transition-enter {
  opacity: 0;
  transform: translateY(-5rem);
}

.layout-transition-exit {
  opacity: 1;
  transform: translateY(0);
}

.layout-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.layout-transition-exit-active {
  opacity: 0;
  transform: translateY(5rem);
}

.layout-transition-enter-active,
.layout-transition-exit-active {
  transition: opacity 300ms, transform 300ms;
}
